body {
	background-color: #000
}

#terminalOutput {
	font-family: courier, monospace;
	color: #fff;
	width: 90%;
	margin: 15px;
	font-size: 14px;
}

.infoOutput {
	color: #ff05ea;
}

a {
	color: #0bc;
	text-decoration: none;
}

.linuxPrefix {
	color: #0f0;
}

.terminalString {
	color: #0bc;
}

.terminalSymbols {
	color: #ff0096;
}

#quote {
    	animation: change 1s;
}

.dontBeADouce {
	margin-bottom: 3px;
}

.badges {
	max-width: 300px;
	max-height: 300px;
}

@keyframes change {
    	0%  { color:  #0f0; }
    	50% { color:  #0f0; }
    	99% { color: black; }
}
